<main class="site-main">
  <div class="container">
    <div class="box-nav d-flex justify-between">
      <a href="add-user" class="border-shadow">
        <span class="text-gradient">New User<i class="fas fa-user"></i></span>
      </a>
    </div>
    <!--Form Handling-->
    <form action="/" method="POST">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th>Index</th>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Password</th>
            <th>Nomor HP</th>
            <th>confidence</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% for(let i = 0;i <users.length;i++){ %>
          <tr>
            <td><%= i+1 %></td>
            <td><%= users[i]._id %></td>
            <td><%= users[i].nama %></td>
            <td><%= users[i].email %></td>
            <td><%= users[i].password %></td>
            <td><%= users[i].nomor_hp %></td>
            <td><%= users[i].confidence%></td>
            <td><%= users[i].status%></td>
            <td>
              <a href="update-user?id=<%=users[i]._id%>" class="btn border-shadow update">
                <span class="text-gradient"
                  ><i class="fas fa-pencil-alt"></i
                ></span>
              </a>
              <a  class="btn border-shadow delete" data-id="<%=users[i]._id%>"> 
                <span class="text-gradient"><i class="fas fa-times" ></i></span>
              </a>
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </form>
  </div>
  <!--/Form Handling-->
</main>
